* {
    box-sizing: border-box;
}

.relative {
    position: relative;
    display: inline-block;
}

#healthBarHeader {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 0.5rem;
}

#timer {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}

.health-total {
    background-color: yellow;
    height: 30px;
    width: 100%
}

.health-loss {
    position: absolute;
    background-color: blue;
    height: 30px;
    top: 0; right: 0; bottom: 0;
    width: 100%;
}

.healthBars {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0.5rem;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}